<!DOCTYPE html>
<html lang="en-US">
<head>
    <title> {% block title %}Download{% endblock %} </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="shortcut icon" href="https://s3.amazonaws.com/prepubmed/favicon.ico" type="image/x-icon">
    <link rel="icon" href="https://s3.amazonaws.com/prepubmed/favicon.ico" type="image/x-icon">
    <style>
     body{
        font-family:"Arial",sans-serif;
    }
    .welcome{
        margin-top:0px;
        margin-bottom:0px;
    }
    a {
        font-size:16px;
    }
    h1 {
        font-size:36px;
    }
    .col-sm-3 {
        position:relative;
        left:30px;
    }
    </style>
</head>
<body>
    <div class="col-sm-12">
        <div class="col-sm-6 col-sm-push-3 text-center welcome">
            <h1 style="font-size:48px;margin:0px">Download Center</h1>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-3 text-center">
            <h1>mRNA</h1>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/BLCA_mrna.xlsx">BLCA</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/BRCA_mrna.xlsx">BRCA</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/CESC_mrna.xlsx">CESC</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/COAD_mrna.xlsx">COAD</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/ESCA_mrna.xlsx">ESCA</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/GBM_mrna.xlsx">GBM</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/HNSC_mrna.xlsx">HNSC</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/KIRC_mrna.xlsx">KIRC</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/KIRP_mrna.xlsx">KIRP</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/LAML_mrna.xlsx">LAML</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/LGG_mrna.xlsx">LGG</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/LIHC_mrna.xlsx">LIHC</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/LUAD_mrna.xlsx">LUAD</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/LUSC_mrna.xlsx">LUSC</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/OV_mrna.xlsx">OV</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/PAAD_mrna.xlsx">PAAD</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/READ_mrna.xlsx">READ</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/SARC_mrna.xlsx">SARC</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/SKCM_mrna.xlsx">SKCM</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/STAD_mrna.xlsx">STAD</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/UCEC_mrna.xlsx">UCEC</a>
        </div>
        <div class="col-sm-3 text-center">
            <h1>miRNA</h1>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/BLCA_mirna.xlsx">BLCA</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/BRCA_mirna.xlsx">BRCA</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/CESC_mirna.xlsx">CESC</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/COAD_mirna.xlsx">COAD</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/ESCA_mirna.xlsx">ESCA</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/GBM_mirna.xlsx">GBM</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/HNSC_mirna.xlsx">HNSC</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/KIRC_mirna.xlsx">KIRC</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/KIRP_mirna.xlsx">KIRP</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/LAML_mirna.xlsx">LAML</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/LGG_mirna.xlsx">LGG</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/LIHC_mirna.xlsx">LIHC</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/LUAD_mirna.xlsx">LUAD</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/LUSC_mirna.xlsx">LUSC</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/OV_mirna.xlsx">OV</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/PAAD_mirna.xlsx">PAAD</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/READ_mirna.xlsx">READ</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/SARC_mirna.xlsx">SARC</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/SKCM_mirna.xlsx">SKCM</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/STAD_mirna.xlsx">STAD</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/UCEC_mirna.xlsx">UCEC</a>
        </div>
        <div class="col-sm-3 text-center">
            <h1>lncRNA</h1>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/BLCA_lncrna.xlsx">BLCA</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/BRCA_lncrna.xlsx">BRCA</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/CESC_lncrna.xlsx">CESC</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/COAD_lncrna.xlsx">COAD</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/GBM_lncrna.xlsx">GBM</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/HNSC_lncrna.xlsx">HNSC</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/KIRC_lncrna.xlsx">KIRC</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/KIRP_lncrna.xlsx">KIRP</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/LAML_lncrna.xlsx">LAML</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/LGG_lncrna.xlsx">LGG</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/LIHC_lncrna.xlsx">LIHC</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/LUAD_lncrna.xlsx">LUAD</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/LUSC_lncrna.xlsx">LUSC</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/OV_lncrna.xlsx">OV</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/READ_lncrna.xlsx">READ</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/SKCM_lncrna.xlsx">SKCM</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/STAD_lncrna.xlsx">STAD</a>
            <br>
            <a href="https://s3.amazonaws.com/oncolnc/excel_files/UCEC_lncrna.xlsx">UCEC</a>
        </div>
        <div class="col-sm-1">
        </div>
    </div>
</body>